@import '../../style/variables.scss';

.comics {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 225px);
        column-gap: 67px;
        row-gap: 70px;
    }
    &__name {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 16px;
        color: #000;
    }
    &__price {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #00000099;
        ;
    }
}