@import '../../style/variables.scss';

.comics__item {
    width: 225px;
    // height: 415px;
    padding: 10px;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.3s transform;
    img {
        width: 225px;
        height: 346px;
        object-fit: cover;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    }
    &_selected {
        box-shadow: 0 5px 20px $main-color;
        transform: translateY(-8px);
    }
}